code
  display: inline-block;
  vertical-align: middle;

code:first-child
  border-right: 1px dashed #ccc;
  margin-right: -1px;
  padding-right: 20px;

code:last-child
  border-left: 1px dashed #ccc;
  padding-left: 20px;
